.dropUp {
    border: 1px solid #333;
    position:relative;
}
.dropUp ul {
    display:none;
    position:absolute;
    z-index: 200;
    width: 100%;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    padding-left: 0px;
    margin: 0;
}
.dropUp>div {
    position:relative;
    padding: 10px;
}
.dropUp>ul>li {
    list-style-type: none;
    border-top: 1px solid #333;
    padding: 10px;
}
.dropUp>div>img {
    position: absolute;
    top: 50%;
    right:5px;
    transform: translateY(-50%);
}
